* {
    padding:0;
    margin:0;
    box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

html,body {
    height: 100%;
}

header {
    background-color: rgb(71, 68, 68);
}

.title--padding {
    text-align: center;
    padding:40px 0 30px;

}

a {
    color: white;
    text-decoration: none;
}

button, .js-close-menu {
    cursor:pointer;
}

.container {
    width: 98%;
    max-width: 1200px;
    margin:0 auto;
}

header .container {
    padding: 20px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h__line {
    width: 100%;
    border-top:2px solid orange;
}

.h__form {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.h__search {
    width:calc(90% - 20px);
    padding:10px;
    border: none;
    border-right: none;
    border-radius: 0;
    font-size: 18px;
}


.search__for-products {
    width: 10%;
    border-radius: none;
    border: none;
    border-left:none;
    background-color: orange;




    color: white;
}

.search__for-products:hover {
    background-color: black;
}

menu {
    width: 50%;
    height:100%;
    padding: 20px 10px;
    position:fixed;
    top: 0;
    left: 0;
    color:white;
    background-color: black;
    display: none;
}

.banner {
    width: 100%;
    height: 350px;
    background-image: url('../img/mesa-gamer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.customeze__style-of-pc {
    width:calc(23% - 20px);
    height: 150px;
    /* border:1px solid black; */
    border-radius: 7px;
    box-shadow:2px 2px 20px 2px;
}

.customeze--margin {
    margin-left:20px
}

.shop__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop__one-product {
    width:24%;
    min-height: 350px;
    padding:3px;
    border:1px solid rgb(161, 161, 161);
}

@media (max-width: 1024px) {
    .shop__one-product {
        width:32%;
    }

    .shop--margin {
        margin-bottom:20px;
    }
}

@media (max-width:810px) {
    .shop__one-product {
        width:48%;
    }
}

@media (max-width:524px) {
    .shop__one-product {
        width:100%;
    }
}

.shop__img-of-product{
    width: 100%;
    padding-top: 70%;
    margin:0 auto;
    /* background-image:url('../img/controle-nitendo.jpg'); */
    background-size:cover;
}

.shop__description {
    height: 80px;
    font-size:16px;
    padding-top:20px;
}

.shop__description h3 {
    padding-bottom:10px;
}

.shop__prace {
    padding:40px 0 20px;
}

.shop__before {
    font-size:14px;
    color:rgb(114, 114, 114);
}

.shop__interest-free {
    font-size:18px;
    color:rgb(20, 107, 20);
}

.shop__in-the-card {
    font-size:14px;
    color:rgb(214, 139, 0);
}
.shop__purchase,
.shop__cart {
    color: black;
    text-decoration: none;
    text-align: center;
}
.shop__purchase {
    width: 69%;
    border: none;
    padding: 10px 0;
    background-color: aquamarine;
}

.shop__cart {
    width: 28%;
    padding: 10px 0;
    border: none;
    background-color: aqua;
}